@use "helper" as h;
//EXEMPLE: color: h.$red;

.homepage {
    width:100%;
    height:40em;
    background-color: h.$bleu;
}

h1{
    color:white;
}

.logo{
    fill:white;
    width:3.5em;
}

.navbar{
    display:flex;
    justify-content: space-between;
}

.menu-nav{
    list-style-type: none;
    text-align:center;
    color:white;
    position:absolute;
    background-color: h.$bleu;
    margin-top:3em;
    margin-left:-200%;
    transition: all 0.7s;
    padding:2%;
    width: 100%;
}
li{
    padding: 2%;
}