@use "helper" as h;
//EXEMPLE: color: h.$red;

.photo{
    width: 20em;
    padding: 2em;
}

h2{
    text-align: center;
    color: h.$jaune;
    padding-top: 5%;
}

p{
    font-family: h.$archivo;
    font-size: 20px;
    text-align:justify;
    padding:10%;
}