@use "helper" as h;
//EXEMPLE: color: h.$red;

.picture{
    background-color: h.$rose;
    display: flex;
    justify-content: center;
}

.photo{
    width: 20em;
    padding: 2em;
}

h2{
    text-align: center;
    color: h.$jaune;
    padding-top: 5%;
}

p{
    font-family: h.$archivo;
    text-align:center;
    padding:3%;
}